@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
body {
	background: #f9f9f9;
	font-family: "Poppins", sans-serif;
}


.shadow {
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;
}

.profile-tab-nav {
	min-width: 250px;
}

.tab-content {
	flex: 1;
}

.form-group {
	margin-bottom: 1.5rem;
}

.nav-pills a.nav-link {
	padding: 15px 20px;
	border-bottom: 1px solid #ddd;
	border-radius: 0;
	color: #333;
}
.nav-pills a.nav-link i {
	width: 20px;
}

.img-circle img {
	height: 100px;
	width: 100px;
	border-radius: 100%;
	border: 5px solid #fff;
}


.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
background-color: #144253;
}

.btn-primary{
	background-color: #144253;
	margin-left: 550px;
	margin-top: 20px;
}

.btn-light {
	margin-top: 20px;
}


/* footer */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footercontainer {

    margin-top: 20px;
    background: rgb(173, 241, 255);
    background: linear-gradient(180deg, rgb(174, 240, 254) 0%, rgb(184, 243, 255) 69%);
    border-radius: 30px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: 70px;

}

ul {
    list-style: none;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 30px;
}

.footer {
    background-color: #24262b;
    padding: 70px 0;
}

.row {
    margin-right: 0px;
}

.footer-col {
    width: 25%;
    padding: 0 15px;

}



.footer-col h4 {
    font-size: 18px;
    color: #000000;
    text-transform: capitalize;
    margin-top: 40px;
    margin-bottom: 35px;
    margin-left: 30px;
    font-weight: 500;
    position: relative;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.165);
}

.footer-col h4::before {

    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #032633;
    height: 2px;
    box-sizing: border-box;
    width: 100px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    color: #000000;
    text-decoration: none;
    font-weight: 300;
    color: #000000;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li {
    font-size: 16px;
    color: #000000;
    text-decoration: none;
    font-weight: 300;
    color: #000000;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: hsl(207, 100%, 20%);
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }

}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }

}
