/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 13, 2023, 10:13:58 PM
    Author     : thanusiyan
*/
/* Add your custom styles here */

.section-heading {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.section-description {
  font-size: 18px;
  margin-bottom: 15px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

